@model IEnumerable<API.Sparta.Models.TbVideoHuongDan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VideohuongdanTieude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideohuongdanHinhanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideohuongdanLinkvideo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VideohuongdanTieude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideohuongdanHinhanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideohuongdanLinkvideo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VideohuongdanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VideohuongdanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VideohuongdanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
