@model API.Sparta.Models.TbCamNang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbCamNang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CamnangTieude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CamnangTieude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CamnangMota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CamnangMota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CamnangNoidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CamnangNoidung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CamnangHinhanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CamnangHinhanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CamnangNgaytao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CamnangNgaytao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaicamnangId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaicamnangId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CamnangId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
